package templates
 

templ header(header string) {
  <div class="w-full flex justify-center">
    <div class="w-full justify-center md:px-4 my-2">
      <h5 class="text-center text-3xl md:text-6xl bg-clip-text font-bold md:font-normal bg-gradient-to-r text-transparent from-primary/20 to-primary p-4 underlinedecoration-1 decoration-white font-silkscreen">
      {header}
      </h5>
    </div>
  </div>
}

